<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
</head>
<body>
    <header>
        <div class="admin-header">
            <h1>Admin Page</h1>
            <div class="admin-options">
                <a href="{{ url_for('add_car') }}" class="admin-button">Add Car</a>
                <a href="{{ url_for('booked_cars') }}" class="admin-button">View Booked Cars</a>
                <div class="signout_icon">
                    <a href="#" onclick="signOut()" title="Sign Out">
                        <img src="{{ url_for('static', filename='images/log_out.svg') }}" alt="Sign Out Icon" class="icon">
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div class="all-cars-title">All Cars</div>
    <section class="car-listings">
        <div class="car-listings">
            {% for car in cars %}
            <div class="car" data-model="{{ car.model }}">
                <div class="delete-button" onclick="deleteCar('{{ car.model }}')">x</div>
                <img src="{{ url_for('static', filename=car.image) }}" alt="{{ car.model }}">
                <h3>{{ car.model }}</h3>
                <p>Location: {{ car.location }}</p>
                <p>Price: {{ car.price }}</p>
                <!-- Add the Edit button -->
                <a href="{{ url_for('edit_car', car_model=car.model) }}" class="edit-button">Edit</a>
            </div>
            {% endfor %}
        </div>
    </section>
    <script src="{{ url_for('static', filename='admin.js') }}" defer></script>
</body>
</html>
