<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rental Car Service</title>
    <link rel="stylesheet" href="static/index.css">
</head>
<body>
    <div class="content-container">
        <div class="why-choose-us">
            <span class="tagline">WHY CHOOSE US</span>
            <h4>We offer the best experience with our rental deals</h4>
        </div>
        <div class="buttons">
            <button onclick="window.location.href='/sign_up'">Sign Up</button>
            <button onclick="window.location.href='/sign_in'">Sign In</button>
        </div>
    </div>
   <!-- <img src="images/BlueCar.jpeg" class="car-image" alt="BlueCar">-->
</body>
</html>
