<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <!-- Use url_for to link to the CSS file in the static folder -->
    <link rel="stylesheet" href="../static/style_signUp.css">
</head>
<body>
    <div class="container">
        <h1>Sign In</h1>
        <form action="/sign_in" method="post">
            <input type="email" id="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <button  type="submit" class="signIn">Sign In</button>
        </form >
        <div class="signup-footer">
            <a href="/" class="highlight-link">Back to Home</a>
            <p style="color:rgb(237, 9, 9); font-size: 20px;">
                {{ message }}
            </p>
        </div>
    </div>
   
</body>
</html>