body {
    background: url('images/singup_in.jpg')no-repeat center center fixed;
    background-size:contain;
    background-position: 0%;
    color: black;
    font-family: Arial, sans-serif;
    margin: 0;
   display: flex;
  
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center; /* Center items horizontally */
    color: #007BFF;
    padding: 100px;
    margin-left: 50%;
    margin-right: 25%;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    filter: drop-shadow(0px 12px 24px rgba(16, 76, 139, 0.16));
}

.signup-footer {
    margin-top: 20px; /* Add space between the form and the footer */
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    margin: 10px 0;
    border: solid,1px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

a {
    color: #282848;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.highlight-link {
    color: #b8c0b9;
    font-size: 24px;
    text-decoration: underline;
    padding: 5px;
    border-radius: 3px;
}



























































