body, html {
    height: 100%;
    margin: 0;
    font-family: 'Times New Roman', Times;
    background: url('images/background.webp') no-repeat center center fixed;  
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    color: white;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    color: white;
    margin-top: 150px;
    font-size: 3em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
}

input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #d8e0d9;
    color:rgb(40, 40, 72);
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
}

button:hover {
    background-color: #d8e0d9;
}

a {
    color: rgb(40, 40, 72);
    margin-top: 15px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
