<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rental Car Service</title>
    <link rel="stylesheet" href="../static/syel.css">
</head>
<body>
    <h1>Welcome to Rental Car Service</h1>
    <footer>
        <div class="footer-container">
            <div class="footer-left">
                <button onclick="window.location.href='/sign_up'">Sign Up</button>
                <button onclick="window.location.href='/sign_in'">Sign In</button>
            </div>
            <div class="footer-right">
                <p>Your one-stop solution for renting the best cars at the best prices. Enjoy seamless bookings, 24/7 support, and a wide variety of cars to choose from. Let's make your journey smoother and more enjoyable!</p>
            </div>
        </div>
    </footer>
</body>
</html>


























